h1 Login Page

form(action='/login', method='POST') 
  .input-group
    input(type='email', placeholder='Email',m name='email' autofocus, required)
  .input-group
    input#pass(type='password', placeholder='Password', name='password')
  .input-group
    input(type='submit', value='login')
